#spec1{
    background-image: url(images/image10.jpeg) ;
    background-color: rgb(14, 1, 1);
    padding: 0px 50px;
}

.container{
    padding: 50px 0px;
    height: 100vh;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.parent{
    height: 400px;
    width: 300px;
    padding: 20px;
    perspective: 1000px;
}

.card{
    padding-top: 100px;
    transform-style: preserve-3d;
    background-image: url(images/image9.jpeg);
    background-position: center center;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.card:hover{
    background-position: 80% 20%;
    transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box{
    height: 100%;
    width: 100%;
    background-color: rgb(122, 61, 42);
    border-radius: 0px 0px 10px 10px;
    box-shadow: blue(0, 115, 255, 0.925) 0px 20px 50px -25px;
    transition: all 0.5s ease-in-out;
    padding: 50px 25px 25px 25px;
    transform-style: preserve-3d;
}

.card-content{
    padding-top: 15px;
    font-size: 18px;
    color: white;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
}

.card-content:hover{
    transform: translate3d(0px, 0px, 50px);
}

.card2{
    filter: hue-rotate(150deg);
}

.card3{
    filter: hue-rotate(300deg);
}

.card4{
    filter: hue-rotate(90deg);
}

h1{
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 20px;
}

body{
    background: linear-gradient(to right,#464b4b,#accacf);
}

h3{
    padding: 10px;
    background-color: #3e4242;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#spec3, #spec2, #spec4 {
    border: 2px solid rgb(17, 16, 16);
    text-align: center;
    background-color: rgb(137, 142, 145);
}

#spec2{
    font-size: 30px;
}